:root {
    --background: #f2f5f7;
    --text-primary: #73c2ab;
    --text-secondary: #647780;
    --white: #ffffff;
    --gray: #3c3c3c;
}

body {
    background-color: var(--background);
}

.container_duvidas {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;       
}

.text_question {
    text-align: right;
    font-size: 2rem;
    color: var(--gray);
    margin-bottom: 10px;
}

.text_resposta {
    text-align: right;
    font-size: 1.5rem;
    color: var(--text-secondary);
    margin-bottom: 30px;
    
}

.container_duvidas .accordion__faq>div {
    background-color: #3c3c3c;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(61, 60, 60, 0.1);
}

.container_duvidas .accordion__faq>div * {
    background-color: inherit;
}


.accordion__faq>div {
    background-color: #3c3c3c;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion__faq-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #3c3c3c;
}

.accordion__faq-heading h3 {
    font-size: 1.2rem;
    color: var(--text-primary);
    text-align: right;
    margin: 0;
    background-color: #3c3c3c;
}

.verticle {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    background-color: #3c3c3c;
}

.active {
    color: white;
    background-color: #3c3c3c;
}

.inactive {
    display: none;
}


.container_duvidas {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    
}

.text_question {
    text-align: left;
    font-size: 2rem;
    color: var(--text-primary);
    margin-bottom: 10px;
}

.text_resposta {
    text-align: left;
    font-size: 1.5rem;
    color: var(--text-secondary);
    margin-bottom: 30px;    
}

.Bolinha_d {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #c45c5c;
    border-radius: 100%;
    top: 30%;
    left: -7%;
}

.Bolinha_d1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #73c2ab;
    border-radius: 100%;
    top: 90%;
    left: 10%;
}

.Bolinha_d2 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #c7bcba;
    border-radius: 100%;
    top: 95%;
    left: 50%;
}

.Bolinha_d3 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #4d5e74;
    border-radius: 100%;
    top: 95%;
    right: 0%;
}

.Bolinha_d4 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #118FB8;
    border-radius: 100%;
    top: 15%;
    left: 95%;
}



