:root {
    --background: #f2f5f7;
    --text-primary: #73c2ab;
    --text-secondary: #647780;
    --white: #ffffff;
    --gray: #3c3c3c;
}

body {
    background-color: var(--background);
}

.container_duvidas {
    width: 100%;
    max-width: 1100px;
    margin: 60px auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* accordion styles */

.text_question{
    font-size: 42px;
    color: #3c3c3c;
    margin: 15;
    margin-bottom: 10px;
    text-align: left;
}

.text_resposta{
    font-size: 30px;
    color: #3c3c3c;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
}

.accordion-simple>.active {
    display: block;
}

.accordion__faq .inactive {
    display: none;
}

.accordion__faq>div {
    background-color: var(--white);
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.accordion__title {
    color: var(--text-secondary);
    padding-bottom: 20px;
    font-weight: 500;
}

.accordion__faq-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion__faq-heading .active {
    color: var(--text-primary);
}

.accordion__faq-heading h3 {
    color: var(--text-secondary);
    font-weight: 600;
    font-size: 24px;
    
}

.accordion__faq p {
    margin: 0;
    padding-bottom: 80px;
    color: var(--text-secondary);
    line-height: 1.4;
    font-size: 20px;
}

.accordion__faq-heading::after {
    content: "";
    font-size: 30px;
    color: var(--text-secondary);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.accordion__faq-heading.active::after {
    content: "-";
}

.accordion__faq-content {
    padding: 40px;
    overflow: hidden;
}

